.navbar.fixed-top {
  background-color: white;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 0; }
  .navbar.fixed-top a {
    font-family: "Raleway", serif; }

.modal-open .navbar.navbar-fixed-top {
  right: 17px; }

#main-navbar {
  flex-grow: inherit; }

.navbar-nav {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400; }
  .navbar-nav .nav-link {
    padding: 15px 0;
    /*text-align: center;*/ }
  .navbar-nav li {
    margin-left: 15px;
    margin-right: 15px; }
  .navbar-nav > li > a {
    font-size: 14px;
    color: #00ffff !important;
    font-weight: 600; }
    .navbar-nav > li > a:hover {
      color: white !important;
      background-color: #00ffff;
      text-decoration: none;
      outline: none;
      opacity: 1; }
    .navbar-nav > li > a.active {
      font-weight: 600;
      color: #17afeb;
      background-color: #d5d9db;
      margin: 3px 0;
      padding: 5px 10px; }
      .navbar-nav > li > a.active:hover {
        color: #17afeb;
        background-color: #d5d9db;
        text-decoration: none;
        outline: none; }
  .navbar-nav > li > a > numbering {
    color: #E5E5E5; }
  .navbar-nav .dropdown-menu {
    font-size: 14px;
    background-color: #679DC0 !important;
    margin-top: -1px;
    border-radius: 0px; }
    .navbar-nav .dropdown-menu .dropdown-item {
      color: white;
      margin-left: 0px;
      font-weight: 600; }
      .navbar-nav .dropdown-menu .dropdown-item:hover {
        color: #0B669A !important;
        background-color: transparent !important; }
  .navbar-nav .nav-searchbar {
    width: max-content;
    padding: 5px 15px 5px 15px; }

.btn-group-search-bar .dropdown-menu {
  background-color: white !important;
  min-width: 100%; }

.navbar-toggler:focus {
  outline: 0;
  border: 0; }

.navbar-toggler i {
  color: #0B669A; }

.nav li a:focus {
  text-decoration: none;
  background-color: initial;
  outline: none; }

#header-logo img {
  height: 42px;
  width: 42px; }

/*@media (max-width: 991px) {
    .navbar-nav .nav-link {
        padding: 10px;
    }

    .navbar.fixed-top {
        padding: 10px 20px;
    }
}

@media (max-width: 576px) {
    .navbar-toggler {
        width: auto !important;
    }
}*/
nav.navbar {
  background: linear-gradient(#0a192f, #0a192f);
  outline-color: #00ffff; }

.resume-button {
  font-size: 14px;
  color: #999999;
  background-color: #0a192f;
  margin-top: 10px;
  border-color: #00ffff; }

@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center; } }

.numbering h1 {
  color: #999999;
  font: 14px; }

.signature {
  font: 14px;
  color: #00ffff; }

.resume-polygon {
  color: #0366d6; }

#pageloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px; }

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1px;
  height: 100vh; }
  .wrapper .cta {
    position: absolute;
    display: inline;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    color: #00ffff;
    text-align: match-parent; }

.el {
  position: absolute;
  opacity: 1;
  width: 2px;
  height: 24vh;
  margin-top: -12vh;
  transform-origin: 50% 100%;
  background: white; }

body {
  background: #0a192f; }
