<h2 class="numbered-heading">About Me</h2>
<div class="about__StyledText-sc-1ownso9-1 gZaTwI">
  <div>
    <p>Hello! I'm Maunik, a software engineer based in Los Angeles, CA.
    </p>
    <p>
      I am a MCIS from <a href="https://www.fit.edu/">Florida Institute Of Technology </a>with hands on experience in Development, Information Security Management,
      Project Management,Research and Data Management.My work is focused on improving application design ,algorithms and has
      spanned across various industries in United States and India.

      I enjoy creating things that live on the internet, whether that be websites, applications, or anything in between.
      My goal is to efficiently translate ideas and concepts to quantifiable software applications keeping in
      mind of the space time complexities,amount of data and with a strict attention to detail of the requirements,working
      independently or lead/work within a team environment.
    </p>
    <p>Shortly after graduating from <a href="https://manipal.edu/mit.html">Manipal University</a>
      , I joined the engineering team at <a href="https://www.isro.gov.in/">Indian Space Research Organisation</a>
      where I worked in the Software Engineering Department on launching of Polar Satellite Launch Vehicle(PSLV) named C-24
      which was succesfully launched on 4th of April 2014.From there on I decided to pursue Masters in Computer Information Systems
      at <a href="https://www.fit.edu/">Florida Institute Of Technology </a>
    </p>
    <p>Here are a few technologies/languages I've been working with recently:</p>
  </div>
  <ul class="skills-list">
    <li>C#</li>
    <li>MSSQL/MYSQL</li>
    <li>JavaScript (ES6+)</li>
    <li>HTML &amp; (S)CSS</li>
    <li>Azure/AWS</li>
    <li>Java</li>
    <li>Node.js</li>
    <li>Angular</li>
  </ul>
</div>
