body {
  background-color: #6FCBC6;
  padding-top: calc(50vh - 80px);
  text-align: center; }

/**
* SVG logo
**/
svg {
  padding: 12px; }
  svg g#logo path {
    /**
		* Logo
		**/
    /**
		* Text
		**/ }
    svg g#logo path#logo-left, svg g#logo path#logo-right {
      animation: drawing 12s ease-out;
      animation-fill-mode: forwards;
      stroke: #EFE9E0;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000; }
    svg g#logo path#logo-left {
      animation-delay: 1.2s; }
    svg g#logo path#logo-right {
      animation-delay: 2.05s; }
    svg g#logo path#text-code, svg g#logo path#text-resolution {
      animation: appear 1.5s ease;
      animation-delay: 2.35s;
      animation-fill-mode: forwards;
      fill: #EFE9E0;
      opacity: 0;
      transform: translateX(-15px); }

/**
* CSS animations
**/
@keyframes appear {
  to {
    margin-left: 5px;
    opacity: 1;
    transform: translateX(0px); } }

@keyframes drawing {
  to {
    stroke-dashoffset: 0; } }

/**
* Page load animation
**/
.intro-animation {
  overflow: hidden; }
  .intro-animation .left, .intro-animation .right {
    bottom: 0;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 120; }
  .intro-animation .left {
    background: #5B6076;
    right: 50%;
    width: 50%; }
  .intro-animation .right {
    background: #66BBDE;
    right: 0;
    width: 50%; }
