@import "../Abstract/_variables.scss";
nav.navbar {
    background: linear-gradient($navy,$navy);
    outline-color: $indigo;
}
.resume-button {
    font-size: 14px;
    color: $sh-cool-gray;
    background-color: $navy;
    margin-top: 10px;
    border-color: $indigo;
}
@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

.numbering h1 {
    color:$sh-cool-gray;
    font:14px;
}

.signature{
    font:14px;
    color:$indigo;    
}

.resume-polygon {
    color: $blue;
}




body {
    background: $navy
}
