@import "../Abstract/_variables.scss";
nav.navbar {
    background: linear-gradient($navy,$navy);
    outline-color: $indigo;
}
@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

body{
    background:$navy
}
